/** {

}

body {
  display: inline;
  text-align: center;
  width: 30%;
  font-family: Arial;
  background-color: rgb(67,90,89);
  color: rgb(132,25,0);
}
li {
  background-color: rgb(53,0,100);
  list-style: none;
}*/
table {
  border: 1px solid black;
}
tr.even{
  background-color: red;
}
table {
  border: 1px solid black;
}
td {
  border: 1px solid rgb(0, 58, 0);
  text-align: right;
}

tr th {
width: 75px;
}
